body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3C4761;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0, 0, 10px, 0;
}

.title {
    text-transform: uppercase;

    font-size: 40px;
    font-weight: 700;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
}

.line {
    max-width: 90px;
    border-width: 2px;
    position: relative;
    z-index: 1000;
}

/*---Container---*/

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/*---Header---*/

header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 95px;
}

.header__inner {
    padding: 57px 217px 133px 211px;
    background: #87509C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*---Navigation---*/

.nav {
    text-transform: uppercase;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    margin-left: 8px;
    transition: background 0.1s linear;
    padding: 5px 10px;
}

.nav__link:first-child{
    margin-left:0;
}

.nav__link:hover {
    background-color: #643A79;
    border-radius: 6px;
}

.nav__link:visited {
    color: #fff;
}

/*---Intro---*/

.intro {
    background-color: #87509C;
    height: 596px;
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner {
    margin: 0 auto;
    width: 100%;
    max-width: 908px;
    max-height: 224px;
    text-align: center;
}

.intro__title {
    font-size: 42px;
    line-height: 1.5;
    font-weight: 700;
    color: #F7F3EA;
    text-indent: 60px;
    margin-bottom: 25px;
}

/*---Button---*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 22px 83px 20px 81px;

    border-radius: 5px;

    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    
    transition: background 0.1s linear;
}

.btn_orange {
    background-color: #EB7D4B;
    border-bottom: 4px solid #c86a40;
}

.btn_orange:hover {
    background-color: #df7748;
}

/*---Services---*/

.services {
    background-color: #17C2A4;
    height: 747px;
    width: 100%;
}

.services__inner {
    margin: 0 auto;
    max-width: 1050px;
    max-height: 518.5px;
    width: 100%;
    text-align: center;
    margin-bottom: 122px;
}

.services__title {
    padding-top: 106px;
    margin-bottom: 25px;

    color: #fff;
}

.line_green{
    border-color: #14a187;
    bottom: 23.5px;
}

.services__subtitle {
    color: #fff;

    margin-bottom: 70px; 
}

/*---Features---*/

.services__features-row {
    display: flex;
}

.features {
    width: 25%;
    margin-right: 111px;
}

.features:last-child {
    margin-right: 0;
}

.features__icon {
    margin-bottom: 60px;
}

.features__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 37px;
    margin-bottom: 13px;

    color: #fff;
}

.features__subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;

    color: #fff;
}

/*---Team---*/

.team {
    width: 100%;
    height: 915px;
    background-color: #E7F1F8;
}

.team__inner {
    margin: 0 auto;
    width: 100%;
    max-width: 1040px;
    max-height: 680px;
    text-align: center;
    margin-bottom: 126px;
}

.team__title {
    padding-top: 107px;
    line-height: 62px;
    margin-bottom: 25px;
}

.line_gray {
    border-color: #BDD1DF;
    bottom: 23.5px;
}

.team__subtitle {
    line-height: 28px;
    margin-bottom: 74px;
}

.team__members-row {
    display: flex;
}

.members {
    width: 25%;
    margin-right: 80px;
}

.members:last-child {
    margin-right: 0;
}

.members__icon {
    display: block;
    max-width: 100%;
    height: auto;

    margin-bottom: 34px;
}

.members__name {
    font-size: 24px;
    color: #27283D;
    font-weight: 700;
    line-height: 37px;
}

.members__position {
    font-size: 16px;
    font-weight: 400;
    color: #30BAE7;
    line-height: 24px;
    margin-bottom: 9px;
}

.members__description {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 37px;
}

/*---Social---*/

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 32px;
    height: 32px;
    background-color: #BDD1DF;
    border-radius: 50%;
    margin-right: 15px;

    transition: background 0.1s linear;
}

.social__item:last-child {
    margin-right: 0;
}

.social__item:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    background-color: #30BAE7;
}

.social__icon {
    height: 30px;
    max-width: 32px;
}

/*---Skills---*/

.skills {
    width: 100%;
    height: 655px;
    background-color: #fff;
}

.skills__inner {
    max-width: 1000px;
    max-height: 440px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 110px;
}

.skills__title {
    padding-top: 105px;
    line-height: 61px;
    margin-bottom: 25px;
}

.skills__subtitle {
    line-height: 27px;
    padding: 0 22%;
    margin-bottom: 80px;
}

.skills__row {
    display: flex;
}

.skills__item {
    width: 25%;
    margin-right: 120px;
}

.skills__item:last-child {
    margin-right: 0;
}

.skills__icon {
    margin-bottom: 25px;
}

.skills__activity {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
}

.line_light-gray {
    border-color: #DFE8ED;
    bottom: 23.5px;
}

/*---Portfolio---*/

.portfolio {
    width: 100%;
    background-color: #FFDD99;
    height: 1423px;
}

.portfolio__inner {
    max-width: 1103px;
    max-height: 1206.5px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 109px;
}

.portfolio__title {
    padding-top: 107px;
    color: #393939;
    line-height: 61px;
    margin-bottom: 25px;
}

.line_brown {
    border-color: #E5C37F;
    bottom: 23.5px;
}

.portfolio__subtitle {
    margin-bottom: 37px;
    line-height: 27px;
    padding: 0 26%;
}

.portfolio__categories {
    margin-bottom: 62px;
}

.categories__item {
    padding: 6px 28px 5px 28px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin-right: 10px;

    font-size: 18px;
    line-height: 27px;
    color: #393939;
    text-decoration: none;
    transition: background 0.1s linear;
}

.categories__item:last-child {
    margin-right: 0;
}

.categories__item:hover {
    background: #fff;
}

.projects {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 75px;
}

.projects__icon {
    margin-bottom: 27px;
}

.projects__item {
    margin-bottom: 56px;
}

.projects__item:nth-child(odd) {
    margin-right: 20px;
}

.projects__item:nth-last-child(1) {
    margin-bottom: 0;
}

.projects__item:nth-last-child(2) {
    margin-bottom: 0;
}

.projects__name {
    font-size: 18px;
    color: #393939;
    text-transform: uppercase;
    line-height: 1.5;
}

.btn_green {
    background-color: #17C2A4;
    border-bottom: 4px solid rgb(20,165,140);
    
    padding: 22px 59px 20px 59px;

    font-weight: 600;
}

.btn_green:hover {
    background-color: #16b89a;
}



